<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.android.im.rongcloud">
  <!--HMS-SDK引导升级HMS功能，访问OTA服务器需要网络权限-->
  <uses-permission android:name="android.permission.INTERNET" />
  <!--HMS-SDK引导升级HMS功能，保存下载的升级包需要SD卡写权限-->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <!--检测网络状态-->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <!--检测wifi状态-->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <!--为了获取用户手机的IMEI，用来唯一的标识用户。-->
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

  <!--如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 -->
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <application>
    <!-- 会话列表 -->
    <activity
      android:name=".activity.ConversationListActivity"
      android:launchMode="singleTask"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="stateHidden|adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />

        <data
          android:host="${applicationId}"
          android:path="/conversationlist"
          android:scheme="rong" />
      </intent-filter>
    </activity>

    <!-- 会话界面 -->
    <activity
      android:name=".activity.ConversationActivity"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="stateHidden|adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />

        <data
          android:host="${applicationId}"
          android:pathPrefix="/conversation/"
          android:scheme="rong" />
      </intent-filter>
    </activity>

    <!-- </activity> -->
    <activity android:name=".activity.HomeActivity" />

    <activity
      android:name=".activity.PushActivity"
      android:exported="true"
      android:launchMode="singleTask"
      android:screenOrientation="portrait">

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data
          android:host="${applicationId}"
          android:pathPrefix="/push_message"
          android:scheme="rong" />
      </intent-filter>
    </activity>

    <meta-data
      android:name="InstallChannel"
      android:value="CHANNAL" />

    <!-- 融云推送消息 -->
    <receiver
      android:name=".push.ImPushReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
        <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
        <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
        <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
      </intent-filter>
    </receiver>


    <meta-data
      android:name="com.huawei.hms.client.appid"
      android:value="101715343" />
    <!-- BridgeActivity定义了HMS-SDK中一些跳转所需要的透明页面-->
    <activity
      android:name="com.huawei.hms.activity.BridgeActivity"
      android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
      android:excludeFromRecents="true"
      android:exported="false"
      android:hardwareAccelerated="true"
      android:theme="@android:style/Theme.Translucent" >
      <meta-data
        android:name="hwc-theme"
        android:value="androidhwext:style/Theme.Emui.Translucent" />
    </activity>

    <!-- 解决华为移动服务升级问题的透明界面（必须声明）-->
    <activity
      android:name="io.rong.push.platform.hms.common.HMSAgentActivity"
      android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
      android:excludeFromRecents="true"
      android:exported="false"
      android:hardwareAccelerated="true"
      android:theme="@android:style/Theme.Translucent" >
      <meta-data
        android:name="hwc-theme"
        android:value="androidhwext:style/Theme.Emui.Translucent" />
    </activity>

    <provider
      android:name="com.huawei.hms.update.provider.UpdateProvider"
      android:authorities="com.android.huaxing.hms.update.provider"
      android:exported="false"
      android:grantUriPermissions="true">
    </provider>
    <!-- 第三方相关 :接收Push消息（注册、Push消息、Push连接状态）广播 -->
    <receiver android:name="io.rong.push.platform.hms.HMSReceiver" >
      <intent-filter>
        <!-- 必须,用于接收token -->
        <action android:name="com.huawei.android.push.intent.REGISTRATION" />
        <!-- 必须，用于接收消息 -->
        <action android:name="com.huawei.android.push.intent.RECEIVE" />
        <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
        <action android:name="com.huawei.android.push.intent.CLICK" />
        <!-- 可选，查看push通道是否连接，不查看则不需要 -->
        <action android:name="com.huawei.intent.action.PUSH_STATE" />
      </intent-filter>
    </receiver>
    <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver" >
      <intent-filter>
        <!-- 接收通道发来的通知栏消息，兼容老版本Push -->
        <action android:name="com.huawei.intent.action.PUSH" />
      </intent-filter>
    </receiver>
  </application>
</manifest>

