<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.android.camera">
  <uses-permission android:name="android.permission.CAMERA" />

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <!-- 硬件特性 -->
  <uses-feature
    android:name="android.hardware.camera"
    android:required="true" />
  <uses-feature android:name="android.hardware.camera.autofocus" />
</manifest>